.navbar-inverse{
    background-color:#5249507a ; 
}

.navbar-inverse .navbar-nav>li>a {
    color:white ! important;
}

.navbar-brand{
    margin-left: 3% !important;
    font-family: cursive;
    color:rgb(224, 18, 104)! important;
    font-size:40px;
  
}   

.navbar-left{
    margin-left:20% ! important;
}


button.btn.btn-logged{
    background-color: #3b07dcfa;
    color: white;
    margin-left: -78px !important;
    margin-top: 17%;
    margin-right: 5%;
    width: 88%;
  
}


button.btn.btn-logout{
    margin-left: 3px !important;
    background-color: #d80505;
    color: white;
    margin-top: 18%;

   
}

a.btn.btn-login{
    background-color: #3bdc07fa;
    color: white;
    margin-left: -112px !important;
    margin-top: 8%;
    margin-right: 5%;
    width: 88%;
  
}


a.btn.btn-register{
    margin-left: 3px !important;
    background-color: #fee00b;
    color: white;
    margin-top: 9%;
}

.btns{
    margin-left: -61%;
}